*{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	box-sizing: border-box;
}
#top{
	/*position: -webkit-sticky;*/
	display: none;
	position: fixed;
	padding: .3125rem;
	opacity: .3;
	right: 1rem;
	bottom: 5rem;
	background: #E8A3A3;
	color:#043535 ;
	z-index: 1000;
	cursor: pointer;
	flex-direction: column;
	text-decoration: none;
	align-items: center;
	/*justify-content: center;*/
	border-radius: 1.25rem;
	gap:var(--gap, .125rem);
}

#top-symbol{
	font-size: 3rem;
}

#top-words{
	font-size: 1rem;
}
.flex{
	display: flex;
	/*gap:var(--gap, 2rem);*/
}

.navContainer{
	justify-content: space-between;
	/*padding: .3125rem;*/
	align-items: center;
	height: 7rem;
	background: #043535;
}

#logo{
	margin-left: 2rem;
	/*color: yellow;*/
	/*background: #0E4949;*/
	height: 4.875rem;
	width: 9.375rem;
	background-image: url("imgs/logunYellow.svg");
	background-position: center; /* Center the image */
 	background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.navlinks{
	margin-right: 1.25rem;
	list-style: none;
	font-family: Poppins, Roboto, san-serif;
	gap:var(--gap, 2rem);
}

.navlinks li a {
	text-decoration: none;
	color: #fff;
	transition: ease-in-out 0.3s;
	 /*inline-block->makes the underline span just the width of the content*/
    display: inline-block;
    position: relative;
}

.navlinks li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  opacity: .9;
  bottom: 0;
  left: 0;
  background-color: #D9DD39;
  /*background-color: #043535;*/

  /*border-radius: 10px;*/
  /*transform-origin: bottom right;*/
  transition: transform 0.3s ease-out;
}

.navlinks li a:hover{
	/*font-weight: 500;*/
	color: #D9DD39;
}

.navlinks li a:hover:after {
  transform: scaleX(1);
  /*transform-origin: bottom left;*/
}
/*-------------------------------------------------------------------------------------*/
.contactContainer{
	height: 40.625rem;
	margin: 5rem auto;
	border-radius: 1.25rem;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	width: 80%;
}
.contactInfo{
	border-top-left-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
	background: #043535;
	height: 100%;
	flex: 2;
	position: relative;
	overflow: hidden;
}


.contactInfo p, .contactInfoTitle, .contactDetails{
	font-family: Poppins;
	font-size: 1.125rem;
	line-height: 1.6875rem;
	color: #FFFFFF;
 }

.contactInfoTitle{
	font-family: Rubik, san-serif;
	text-align: center;
	margin: 3rem 0;
	line-height: 1.6875rem;
	font-size: 1.5625rem;

}

.contactInfo p{
	width: 90%;
	color: #aaaaaa;
	margin: 3rem auto;
	font-size: 1rem;
}

.contactDetails{
	font-family: Rubik;
	font-size: 1rem;
	/*width: 23.75rem;*/
	width: 80%;
	/*background: skyblue;*/
	margin: 2rem auto;
	flex-direction: column;
	align-items: center;
	gap:var(--gap, .3125rem);

}
.fa-phone{
	transform: rotate(90deg);
}
.locationText{
	text-align: center;
}
.line{
	width: 18.75rem;
	height: 0.3125rem;
	transform: rotate(45deg);
	position: absolute;
	bottom: 4rem;
	left: -3rem;
	background: #fff;
}

/*--------------------------------------------------------------*/
.contactForm{
	/*background: blue;*/
	height: 100%;
	flex: 3;
}
.contactFormTitle{
	font-family: Rubik, san-serif;
	/*margin: 3rem 0 3rem 3rem;*/
	line-height: 1.6875rem;
	font-size: 1.5625rem;
	width: 80%;
	margin: 3rem auto;
}
.contactFormInputContainer{
	width: 80%;
	/*background: red;*/
	margin: 0 auto;
	position: relative;
}

.contactFormInput{
	flex-direction: column;
	font-family: Poppins, san-serif;
	/*font-size: 1.125rem;*/
	line-height: 1.3125rem;
}

.contactInputs{
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	gap:var(--gap, 1.25rem);
	margin-bottom: 1.25rem;
}

input{
	width: 15.625rem;
	/*width: 100%;*/
	height: 1.875rem;
	border: 0.125rem solid rgba(180, 177, 177,.7);
	border-radius: .625rem;
	text-align: center;
	color: #043535;
	font-size: 0.875rem;
	font-weight: 600;
}
.subject{
	width: 100%;
	margin-bottom: 1.25rem;
}

.textArea{
	width: 100%;
	border-radius: .625rem;
	border: 0.125rem solid rgba(180, 177, 177,.7);
	height: 9.375rem;
	/*height: 12.5rem;*/
	margin-bottom: 2rem;

}

.submitBtn{
	position: absolute;
	width: 9.375rem;
	background: #043535;
	color: #fff;
	font-size: 1.125rem;
	font-family: Poppins, san-serif;
	border-radius: .625rem;
	height: 2.5rem;
	/*height: 1.875rem;*/
	right: 0;
 	
}

/*-------------FAQ----------------------------*/
#FAQ{
	/*height: 37.5rem;*/
	/*height: 40.625rem;*/
	background: #043535;
	/*border-radius: 1.25rem;*
	/*width: 80%;*/
	margin: 0 auto;
	padding: 2rem 0;
	/*padding-top: 3rem;*/
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
}

.faqTitle{
	text-align: center;
	font-family: poppins, Roboto, san-serif;
	font-size: 1.5625rem;
	line-height: 1.6875rem;
	color: #fff;
}
.faqStatement{
	/*max-width:  61.125rem;*/
	width:  80%;
	font-family: poppins, Roboto, san-serif;
	font-size: 1.125rem;
	line-height: 1.3125rem;
	color: #aaaaaa;
	margin: 1.875rem auto;
	text-align: center;

}
.faqs{
	margin: 3rem auto 0;
	flex-direction: column;
	flex-wrap: wrap;
	/*background: yellow;*/
	width: 90%;
	/*width: 73.125rem;*/
	height: 20.625rem;
	color: #fff;
	font-size: 1.125rem;
	line-height: 1.3125rem;
	gap:var(--gap, 1.25rem);
	position: relative;
	z-index: 100;

}

.faq p{
	/*max-width: 0%;*/
	max-width: 35.5rem;
	color: #aaaaaa;
	margin-top: 1rem;
}
.faqBackgroundText{
	position: absolute;
	color: #266060;
	font-size: 500px;
	left: 50%;
	transform: translate(-50%,0);
	top: 50%;
	transform: translateY(-50%,0);
	z-index: -1;
}
/*---------Enter footer section---------------*/
#footer{
	/*margin-top: 5rem;*/
	/*border-top: 0.125rem solid rgba(180, 177, 177,.7);*/
	height: 5rem;
	/*width: 100%;*/
	align-items: center;
	justify-content: center;
}
#footer span{
	/*text-align: center;*/
	font-family:  Roboto, san-serif;
	font-size: .875rem;
	line-height: 1.6875rem;
	color: rgb(133, 122, 122);
}

@media only screen and (max-width:1355px){
	.contactForm{
		background: rebeccapurple;
	}
	
	input{
		width: 100%;
	}
	.faqs{
		/*background: papayawhip;*/
		width: 100%;
		padding-left: 2rem;
	}
}

@media only screen and (max-width:1200px){
	.faqs{
		/*background: forestgreen;*/
		/*width: 80%;*/
		/*height: 40rem;*/
		/*justify-content: center;*/
		/*align-content: center;*/
		/*padding-left: 2rem;*/
		/*flex-wrap: nowrap;*/
		/*padding-left: 0;*/

	}
	.faq p{
		max-width: 30.5rem;
	}
}

@media only screen and (max-width:1040px){
	.contactContainer{
		width: 90%;
	}

	.contactDetails{
		margin: 1.25rem auto;
	}

	.contactForm{
		background: tomato;
	}
	/*.faqs{
		background: red;
	}*/
	.faq p{
		max-width: 25.5rem;
	}
}

@media only screen and (max-width:1024px){

	.contactForm{
		background: cadetblue;
	}

	/*.faqs{
		background: tomato;
	}*/
	
}

@media only screen and (max-width:917px){

	.contactDetails{
		width: 90%;

	}

	.contactForm{
		background: goldenrod;
	}

	.contactInputs{
		flex-direction: column;
	}

	.textArea{
		height: 4.6875rem;
		margin-bottom: 1.25rem;
	}

	.faqs{
		/*background: blue;*/
		width: 35.5rem;
		padding-left: 0;
		height: 32.5rem;
		flex-wrap: nowrap;
	}

	.faq p{
		max-width: 35.5rem;
	}
	.faqBackgroundText{
	/*	position: absolute;
		color: #266060;*/
		font-size: 700px;
		/*left: 50%;
		transform: translate(-50%,0);
		top: 50%;
		transform: translateY(-50%,0);
		z-index: -1;*/
	}

}


@media only screen and (max-width:768px){
	.navContainer{
		height: 6rem;
		background: rosybrown;
	}

	.navlinks{
		position: fixed;
		margin-right: 0;
		z-index: 1000;
		inset: 0 0 0 0;
		flex-direction: column;
		padding: min(20vh, 8rem) 2em;
		gap:var(--gap, 1rem);
		transform: translateX(100%);
		transition: transform 350ms ease-out;
		background: hsl(0 0% 100% / 0.5);
	  }

		@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
			  .navlinks {
			    -webkit-backdrop-filter: blur(5rem);
			    backdrop-filter: blur(8rem);
			    background: hsl(0 0% 100% / 0.1);  
			  }
		}

	 .navlinks[data-visible="true"]{
		transform: translateX(0%);

	  }
	  .mobile-nav-toggle{
	  	display: block;
	  	position: absolute;
	  	z-index: 9999;
	  	background-color: transparent;
	  	background-image: url("imgs/menu.svg");
	  	background-repeat: no-repeat;
	  	border: 0;
	  	width: 3.6875rem;
	  	aspect-ratio: 1;
	  	top:1.5rem;
	  	right: 1rem;
	  }

      .mobile-nav-toggle[aria-expanded="true"]{
	  	top:1rem;
	  	background-image: url("imgs/close.svg");
	  }

	#logo{
		margin-left: .3125rem;
	}


	.contactContainer{
		width: 90%;
		height: 61.625rem;
		flex-direction: column;
	}

	.contactInfo{
		/*width: 100%;*/
		overflow: initial;
		border-top-left-radius: 1.25rem;
		border-top-right-radius: 1.25rem;
		border-bottom-left-radius: 0;

	}
	.contactInfoTitle{
		margin: 2rem 0;
	}

	.contactInfo p{
		/*width: 383.11px;*/
		/*height: 54px;*/
		margin: 1rem auto;
		background: pink;
	}
	.contactDetails{
		width: 80%;
		margin: 1rem auto;
		flex-direction: column;
		align-items: center;
		gap:var(--gap, .3125rem);

	}

	.line{
		display: none;
	}

	/*-----------------------------------*/
	.contactForm{
		background: red;
		/*border-top-left-radius: 1.25rem;
		border-top-right-radius: 1.25rem;
		border-bottom-left-radius: 0;*/
	}

	.contactFormTitle{
		margin: 2rem auto 1rem;
	}

	.contactInputs,.subject{
		gap:var(--gap, 1rem);
		margin-bottom: 1rem;
	}

	.submitBtn{
		border-radius: 1.25rem;
		height: 2rem;
	}

	.faqs{
		background: hotpink;
		width: 80%;
		height: 38.5rem;
		justify-content: center;
		margin: 1rem auto 0;
	}

	/*.faqs{
		margin: 3rem auto 0;
		flex-direction: column;
		flex-wrap: wrap;
		width: 90%;
		height: 20.625rem;
		color: #fff;
		font-size: 1.125rem;
		line-height: 1.3125rem;
		gap:var(--gap, 1.25rem);
		position: relative;
		z-index: 100;

	}*/

	/*.faqBackgroundText{
		font-size: 100px;
		left: 50%;
		transform: translate(-50%,0);
		top: 50%;
		transform: translateY(-50%,0);
	}*/

	.faqStatement{

		/*width:  70%;*/
		background: orange;
		font-size: 1.5rem;
		line-height: 1.6875rem;
		/*color: #aaaaaa;*/
		/*margin: 1rem auto 0rem;*/
		margin-top: 3rem;
		/*text-align: center;*/

	}
	/*.faq p{
		font-size: 25px;

	}*/
}

/*@media only screen and (max-width:550px and max-width: 768){

	.faqStatement{

		width:  80%;
		background: orange;
		font-size: 1.5rem;
		line-height: 1.6875rem;

	}
}
*/

@media only screen and (max-width:600px){

	/*#logo{
		margin: 1rem;
		height: 2.5rem;
		width: 4.6875rem;
		background-image: url("imgs/logun4.svg");

	}*/

	/*#logo{
		margin-top: 2rem;
	}*/

	.contactForm{
		background: mediumaquamarine;
		/*flex: 2.5;*/
	}

	.contactInfo p{
		font-size: 14px;
	}

	.faqTitle{
		font-size: 1.25rem;
		line-height: 1.5rem;
	}

	.faqStatement{
		/*max-width:  61.125rem;*/
		width:  90%;
		/*font-family: poppins, Roboto, san-serif;*/
		font-size: 1rem;
		line-height: 1.125rem;
		/*color: #aaaaaa;*/
		margin: 1.25rem auto;
		/*text-align: center;*/

	}

	.faqs{
		width: 90%;
		/*gap:var(--gap, 1rem);*/
		height: 38.5rem;
		margin: 2rem auto 0;
		background: red;

	}
}

@media only screen and (max-width:350px){
	.faqs{
		gap:var(--gap, .625rem);
	}
	.faq p{
		font-size: 16px;
	}
	#footer span{
		font-size: .75rem;
		line-height: 1rem;
	}
}