*{
	/*margin: 0 auto;*/
	/*this property ensures that no additional px are added e.g if eidth is 5px then pad of 2px wont make the total w 7px*/
	box-sizing: border-box;

	/*the bit below has just been added from stack overflow so as to:
	Add a css reset to the top of your website style sheet, different browsers 
	render some default margin and padding and perhaps external style sheets do 
	something you are not aware of too, a css reset will just initialize a fresh 
	palette so to speak.
	This is because i was having a stubborn white space at the top and sides of my 
	HTML page. It works like magic :D;
	*/
		margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

/*.top1{
  display: none;
}*/

#top{
	/*position: -webkit-sticky;*/
	display: none;
  position: fixed;
	padding: .3125rem;
	opacity: .3;
	right: 1rem;
	bottom: 5rem;
	background: #E8A3A3;
	color:#043535 ;
	z-index: 1000;
	cursor: pointer;
	flex-direction: column;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	border-radius: 1.25rem;
	gap:var(--gap, .125rem);
}

#top-symbol{
	font-size: 2rem;
}

#top-words{
	font-size: 1rem;
}

#header{
	/*position: absolute;
	top: 0;
	left: 0;*/
	width: 100%;
	/*height: 950px;*/
	padding-bottom: 1.5rem;
	background: linear-gradient(90deg, #D9DD39 1.28%, #E8A3A3 100%);
	/*border-bottom-left-radius: 1.125rem;*/
	/*border-bottom-right-radius: 1.125rem;*/
}
.navContainer{
	justify-content: space-between;
	height: 7rem;
	align-items: center;

	  /*position: -webkit-sticky; /* Safari */
	  /*position: sticky;
	  top: 0;
	  z-index: 500;*/
	/*background: linear-gradient(90deg, #D9DD39 1.28%, #E8A3A3 100%);*/

	  /*background: hsl(0 0% 100% / 0.1);*/
	  /*backdrop-filter: blur(78rem);*/
	  /*border: 2px solid #4CAF50;*/
}

.navlinks {
	margin-right: 2rem;
	list-style: none;
	font-family: Poppins, Roboto, san-serif;
	/*color: #393737;*/
/*	background: hsl(0 0% 100% / 0.1);
	backdrop-filter: blur(78rem);*/
}

/*why the heck isnt this working*/
@supports(backdrop-filter: blur(20rem)){
	.navContainer{
	  background: hsl(0 0% 100% / 0.1);
	  backdrop-filter: blur(78rem);
	}
}

.navlinks li a {
	text-decoration: none;
	color: #000;
  transition: ease-in-out 0.3s;
  /*------------------------*/
  /*inline-block->makes the underline span just the width of the content*/
  display: inline-block;
  position: relative;
}

.navlinks li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  opacity: .9;
  bottom: 0;
  left: 0;
  background-color: #043535;
  /*border-radius: 10px;*/
  /*transform-origin: bottom right;*/
  transition: transform 0.3s ease-out;
}


.navlinks li a:hover{
	/*font-weight: 500;*/
	color: #043535;
}

.navlinks li a:hover:after {
  transform: scaleX(1);
  /*transform-origin: bottom left;*/
}

/*.navlinks li a:active {
  color: blue;
}*/

#logo{
	margin: 2rem;
	/*color: yellow;*/
	/*background: #0E4949;*/
	height: 4.675rem;
	width: 9.375rem;
	background-image: url("imgs/logun.svg");
	background-position: center; /* Center the image */
 	background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.mobile-nav-toggle{
	display: none;
}
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.heroContainer{
	padding-top: 1.5rem;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
	/*background-color: blue;*/
	gap:var(--gap, .3125rem);
}

.heroContainer .heroStatements{
	/*flex: 1;*/
	width: 70%;
	/*flex-direction: column;*/
	/*background-color: blue;*/
	position: relative;
 }
.heroStatements .heroHeader{
	font-size: 4rem;
	font-family:  Rubik, Roboto, san-serif;
	margin-bottom: 3rem;
}
.heroStatements .heroStatement{
	width: 60%;
	font-family: Roboto, san-serif;
	font-size: 1.125rem;
	line-height: 1.5625rem;
	color: #393737;
	margin-bottom: 4rem;
}

.heroStatements button{
	width: 8rem;
	height: 2.5rem;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	/*padding: 10px;*/
	/*font-size: 1.125rem;*/
	font-family: Roboto, poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 19px;
	color: #FFFFFF;
	border: none;
  transition: ease-in-out 0.3s;
	/*transition: .3s ease;*/
	/*background: red;*/
	background: #043535;
	cursor: pointer;
}

.heroStatements button:hover{
	background: #0E4949;
	/*opacity: 0.7;*/
}

.themeColor{
	background: #043535;
}
.heroStatements .callNow{
	/*position: absolute;*/
	/*right: 0.625rem;*/
	/*bottom: 1rem;*/
	width: 8.875rem;
	height: 3rem;
}

.btnAndCall{
	width: 100%;
	justify-content: space-between;
}

.callNowIcon {
	/*display: flex;*/
	justify-content: center;
	gap:var(--gap, 0.625rem);
}

.callNowIcon .fa-phone{
	transform: rotate(90deg);
}

.callNowIcon span{
	font-family: Roboto, san-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.1875rem;
	color: #393737;
}
.callNowPhone{
	font-family: Roboto, san-serif;
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.3125rem;
	color: #000000;
}
#heroPicture{
	/*background-color: red;*/
	/*margin: 2rem;*/
	height: 391px;
	width: 320px;
	background-image: url("imgs/cs.png");
	
}

.setPics{
	background-position: center; 
 	background-repeat: no-repeat;
    background-size: cover; 
}

.flex{
	display: flex;
	gap:var(--gap, 2rem);
}
.flexi{
	display: flex;
}


#threeHeroColumns{
	width: 80%;
	margin: 2rem auto;
	justify-content: space-between;

}
/*#threeHeroColumns > div */
.column{
	width: 20.25rem;
	height: 25.3125rem;
	background: #043535;
	/*background: red;*/
	/*background: #0E4949;*/
	border-radius: 0.3125rem;
	color: #ffffff;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap:var(--gap, 2rem);
	font-family: roboto, san-serif;
	/*padding: 1.25rem;*/
	position: relative;
	transition: .3s ease-in-out;
	/*cursor: pointer;*/
}

.column:hover{
	/*transform: scale(1.03);*/
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	background: #0E4949;
}

.threeHeroColumnsHead{
	width: 16.5625rem;
	text-align: center;
	font-size: 1.5625rem;
	position: absolute;
	top: 1.5625rem;

}

.threeHeroColumnsBtn{
	width: 70%;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 0.625rem;
	background: #fff;
	border: none;
	/*color: #0E4949;*/
	position: absolute;
	bottom: 2rem;
	text-align: center;
	text-decoration: none;
}

.threeHeroColumnsBtn > button{
	cursor: pointer;
}

.threeHeroColumnsBtn > button:hover{

	color: #043535;
}


.threeHeroColumnsBody{
	text-align: center;
	width: 15.0625rem;
	font-size: 1.125rem;
	line-height: 2rem;
	/*font-weight: 700;*/
	color: #F1F3E6;
	font-weight: 300;

}

.threeHeroColumnsBody span{
	color: #D9DD39;
}


/*our promise section*/
#ourPromise{
	justify-content: center;
	align-items: center;
}
/*.promiseWrapperContainer{
	background: #043535;
	border-radius: 0.625rem;
	padding: 1.875rem;
	margin: 1.875rem 0;
}*/
.promiseWrapper{
	border-radius: 0.625rem;
	border: 1.875rem solid #043535;
	width: 80%;
	/*width: 62.125rem;*/
	background: #fffffe;
	margin: 1.875rem auto;
	padding: 1.25rem 0;
	font-family: Roboto, san-serif;
}
.promiseWrapper h2{
	text-align: center;
	margin-top: 1.25rem;
	font-size: 1.125rem;
	color: #0E4949;
	/*font-family: roboto, san-serif;*/
}
.promiseWrapperParagraph{
	width: 100%;
	justify-content: center;
	margin-top: 1.875rem;

}
.promiseWrapperParagraph p{
	font-size: 1.5625rem;
	width: 21.4375rem;
	/*font-family: roboto, san-serif;*/
	line-height: 1.875rem;
	text-align: center;
	color: #393737;
}
.promises{
	/*background: red;*/
	height: 17.125rem;
	margin-top: 1.875rem;
	flex-direction: column;
	flex-wrap: wrap;
	gap:var(--gap, 1rem);
	align-items: center;
}
.promise{
	font-size: 1.125rem;
	line-height: 1.5rem;
	/*width: 20.5rem;*/
	width: 20.9375rem;
	gap:var(--gap, 1rem);

}

.fa-check-circle{
	color: #0E4949;
}

#ourServices{
	/*height: 40.625rem;*/
	background: linear-gradient(90deg, #D9DD39 1.28%, #E8A3A3 100%);
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: .625rem 0 3rem 0 ;
}

.services{
	/*width: 80%;*/
	margin: auto;
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto;
  grid-gap: 1.25rem;
    /*background-color: #2196F3;*/
    /*padding: 10px;*/
}
.service{
	background-color: #ffffff;
  text-align: center;
  width: 300px;
  height: 250px;
  padding: 20px 0;
  font-size: 1.25rem;
  border-radius: .625rem;
	color: #043535; 
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.25);
	text-decoration: none;
	transition: .3s ease;
}

.service:hover{
	/*box-shadow: 0px 4px 9px 5px rgba(0, 0, 0, 0.25);*/
	background-color: rgba(255, 255, 255, 0.8);
	transform: scale(1.01);

}

.serviceImg{
	/*color: #043535; */
	width: 70%;
	height: 60%;
}

.serviceCaption{
	width: 50%;
	color: #043535;
	text-align: center;
	font-family: Roboto, san-serif;
	font-size: 1.25rem;
	line-height: 1.5rem;
}

#ourWork{

}

.ourWorkImgs{
	width: 90%;
	flex-wrap: wrap;
	margin: 2rem auto;
	gap:var(--gap, .625rem);
	justify-content: center;
}



.workImgs{
	width: 20.9375rem;
	height: 14.0625rem;
	border-radius: 0.625rem;
	/*border: .125rem solid #0E4949;*/
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.25);
	transition: 0.5s ease;
}

.workImgs:hover{
	box-shadow: 0px 1px 6px 2px rgba(4, 53, 53, 0.9);
}

.paint1{
	background-image: url("imgs/paint1.svg");
}
.paint2{
	background-image: url("imgs/paint2.svg");
}
.paint3{
	background-image: url("imgs/paint3.svg");
}
.paint5{
	background-image: url("imgs/paint5.svg");
}
.paint7{
	background-image: url("imgs/paint7.svg");
}
.paint8{
	background-image: url("imgs/paint8.svg");
}

.ourWorkTitle, .ourServicesTitle{
	text-align: center;
	margin: 2rem 0;
	font-family: Roboto, san-serif;
	font-size: 1.125rem;
	line-height: 1.3125rem;
	font-weight: 700;
	color: #043535;
	/*color: #0E4949;*/
}
.ourWorkSubTitle{
	width: 16.875rem;
	text-align: center;
	margin: 1.875rem auto;
	font-family: Roboto, san-serif;
	font-size: 1.5625rem;
	font-weight: 400;
	line-height: 1.875rem;

}
.ourWorkStatement{
	margin: 1.875rem auto;
	width: 36rem;
	text-align: center;
	font-family: Roboto, san-serif;
	font-size: 1.125rem;
	line-height: 1.3125rem;
	color: #393737;
}

/*------------enter Trusted section*/
#trusted{
	width: 100%;
	/*background: green;*/
	/*margin: 5rem auto;*/
}

.trustedContainer{
	width: 90%;
	/*width: 72.5rem;*/
	/*height: 42.5rem;*/
	height: 40.625rem;
	margin: 5rem auto;
	/*background: blue;*/
	border-top: 0.1875rem solid #0E4949;
	border-bottom: 0.1875rem solid #0E4949;
	justify-content: center;
	gap:var(--gap, 1rem);
	align-items: center;

}

.trustedLadder{
	height: 80%;
	flex: 1;
	position: relative;
}
.ladderImg{
	width: 28.875rem;
	height: 37.375rem;
	position: absolute;
	right: 8rem;
	top: 5rem;
	z-index: 99;
}
.ladderGradient{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 6.25rem;
	z-index: 999;
	/*background: linear-gradient(180deg, rgba(255, 0, 0,0) 1.2%, rgba(255, 0, 0,1) 100%);*/
	background: linear-gradient(180deg, rgba(255, 255, 255,0) 1%, rgba(255, 255, 255,1) 100%);
}
.ladderBigSquare{
	position: absolute;
	width: 20rem;
	height: 20rem;
	background: rgba(14, 73, 73,.3);
	bottom: 0;
	left: 4rem;
	/*----------------------*/
	 animation-name: big;
     animation-duration: 8s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}
@keyframes big {
  0%   {left:4rem; bottom: 0rem;}
  25%  {left:3rem; bottom: 2rem;}
  50%  {left:5rem; bottom: 3rem;}
  75%  {left:3rem; bottom: 2rem;}
  100% {left:4rem; bottom: 0rem;}
}

.ladderMediumSquare{
	position: absolute;
	width: 12.5rem;
	height: 12.5rem;
	background: rgba(0, 153, 255,.2);
	top: 4rem;
	right: 13rem;
	z-index: -2;
	/*--------------*/
	 animation-name: medium;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}
@keyframes medium {
  0%   {right:13rem; top:4rem;}
  25%  {right:13rem; top:5rem;}
  50%  {right:13rem; top:6rem;}
  75%  {right:13rem; top:5rem;}
  100% {right:13rem; top:4rem;}
}

.ladderSmallSquare{
	position: absolute;
	width: 4.375rem;
	height: 4.375rem;
	background: rgba(255, 255, 102,.3);
	top: 9rem;
	left: 13rem;
	z-index: -2;
	/*----------*/
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
}
@keyframes example {
  0%   {background-color:rgba(0, 51, 0,.9); left:13rem; top:9rem;}
  25%  {background-color:rgba(0, 51, 0,.7); left:13rem; top:8rem;}
  50%  {background-color:rgba(0, 51, 0,.4); left:13rem; top:7rem;}
  75%  {background-color:rgba(0, 51, 0,.8); left:13rem; top:8rem;}
  100% {background-color:rgba(0, 51, 0,.9); left:13rem; top:9rem;}
}

.trustedStatementContainer{
    height: 80%; 
	/*flex: 1;*/
	/*width: 30rem;*/
}

.trustedTitle,.testimonialsTitle{
	text-align: center;
	/*margin: 1rem 0;*/
	font-family: Roboto, san-serif;
	font-size: 1.125rem;
	line-height: 1.3125rem;
	font-weight: 700;
	color: #0E4949;
}

.trustedSubTitle{
	width: 21.1875rem;
	margin: 2rem auto;
	text-align: center;
	font-family: Roboto, san-serif;
	font-size: 1.5625rem;
	font-weight: 500;
	line-height: 1.875rem;
}

.trustedStatement{
	margin: 2rem auto;
	width: 30rem;
	font-family:  Roboto, san-serif;
	font-size: 1.125rem;
	line-height: 1.6875rem;
	color: #393737;
	text-align: justify;
}

/*-----------Enter testimonial section-----------------*/

.testimonialStatement{
	width: 21.1875rem;
	margin: 1rem auto;
	text-align: center;
	font-family: Roboto, san-serif;
	font-size: 1.5625rem;
	font-weight: 500;
	line-height: 1.875rem;
	/*color: #393737;*/

}

.testimonialsContainer{
	/*background: green;*/
	margin: 2rem auto;
	width: 68.4375rem;
	justify-content: space-between;
	/*gap:var(--gap, 2rem);*/

}

.testimony{
	width: 21.5625rem;
	height: 15.625rem;
	/*background: red;*/
	border-radius: .625rem;
	/*border: 0.125rem solid #0E4949;*/
	position: relative;
	justify-content: center;
	box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.25);
	transition: .5s ease;
}

.testimony:hover{
	box-shadow: 0px 1px 6px 2px rgba(4, 53, 53, 0.9);
}

.moniPic{
	position: absolute;
	height: 3.75rem;
	width: 3.75rem;
	border-radius: 50%;
	border: 0.1875rem solid bisque;
	/*background-position: center; 
 	background-repeat: no-repeat; 
    background-size: cover; */
    top: .625rem;
    /*left: 50%;*/
}

.testimony h3{
	position: absolute;
	top: 4.875rem;
}
.starRating{
	position: absolute;
	top: 6.5625rem;
	/*justify-content: ;*/
	gap:var(--gap, .125rem);

}
.fa-star{
	color: #D9DD39;
}

.testimonyStatement{
	position: absolute;
	bottom: .625rem;
	width: 90%;
	font-family:  Roboto, san-serif;
	font-size: .875rem;
	line-height: 1.6875rem;
	color: #393737;
	text-align: center;
}
/*---------Enter footer section---------------*/
#footer{
	margin-top: 5rem;
	border-top: 0.125rem solid rgba(180, 177, 177,.7);
	height: 5rem;
	/*width: 100%;*/
	align-items: center;
	justify-content: center;
}
#footer span{
	/*text-align: center;*/
	font-family:  Roboto, san-serif;
	font-size: .875rem;
	line-height: 1.6875rem;
	color: rgb(133, 122, 122);
}

/*----------------------------------------------------------------*/

@media all and (max-width: 1220px){

	#threeHeroColumns{
		width: 80%;
		gap:var(--gap, .3125rem);
	}

	#threeHeroColumns .residential, .cabinet, .interior{
		height: 18.75rem;
		/*background: hotpink;*/
	}

/*-----------WORK AHEAD-------------------------------*/

	/*.ourWorkImgs{
		width: 72.1875rem;
		flex-wrap: wrap;
		margin: 2rem auto;
		gap:var(--gap, 1rem);
		justify-content: center;
	}
	.workImgs{
		width: 20.9375rem;
		height: 14.0625rem;
	}*/
/*-------------------------------------------------------------*/
	.threeHeroColumnsHead{
		width: 90%;
		font-size: 1.25rem;
		line-height: 1.3125rem;
	}

	.threeHeroColumnsBody{
		width: 95%;
		font-size: 1rem;
		line-height: 1.3125rem;
	}
	
	/*.promiseWrapper{
		width: 44.75rem;
	}*/

	.testimonialsContainer{
		width: 90%;
		align-items: center;
		gap:var(--gap, 1.125rem);

	}

	.testimony{
		width: 33.33%;
		height: 20.625rem;
	}

	.testimonyStatement{
		top: 8.875rem;
	}


}
/*------------------------------------------------------------------------*/

@media all and (max-width: 1180px){
	
	.workImgs{
		width: 18.6375rem;
		height: 14.0625rem;
	}
}

/*-----------------------------------------------------------------------*/
@media all and (max-width: 1024px){

	.heroStatements .heroHeader{
		font-size: 3rem;
	}

	.heroStatements .heroStatement{
		width: 70%;
		margin-bottom: 3rem;
	}

	/*-----------WORK AHEAD-------------------------------*/

	.ourWorkImgs{
		width: 100%;
	}
	.workImgs{
		width: 16.125rem;
	}
/*-------------------------------------------------------------*/
	.services{
	    grid-gap: 1rem;
	}
	.service{
	    width: 300px;
	    height: 250px;
	}
	
}
/*--------------------------------------------------------------------*/
@media all and (max-width: 960px){
	
	.trustedLadder{
		display: none;
	}
	.heroStatements .heroStatement{
		margin-bottom: 2rem;
	}

	.promiseWrapper{
		border: .25rem solid #0E4949;
	}

	.promises{
		height: 22.125rem;
		padding: 1rem .3125rem;
	}

	.promise{
		width: 18.125rem;
	}
	
	/*.services{
		background: tomato;
	}*/
	.service{
	    width: 250px;
	    height: 200px;

	}
	.serviceImg{
		width: 80%;
	}

	.serviceCaption{
		width: 60%;
		font-size: 1.125rem;
		line-height: 1.375rem;
	}
}
/*----------------------------------------------------------------*/
@media all and (max-width: 800px){
	/*.services{
		background: rebeccapurple;
	}*/

	.workImgs{
		width: 15.625rem;
	}
	/*.services{
		background: green;
	}*/
	.service{
	    width: 200px;
	    /*height: 200px;*/

	}
}
/*------------------------------------------------------------------------*/

/*------------------enter max width 768px--------------------------------*/
@media all and (max-width: 768px){

	.navContainer{
		height: 5rem;
	}

	.navlinks{
		position: fixed;
		margin-right: 0;
		z-index: 1000;
		inset: 0 0 0 0;
		/*inset: 0 0 0 50%;*/
		flex-direction: column;
		padding: min(20vh, 8rem) 2em;
		gap:var(--gap, 1rem);
		--gap:2em; /*Is this one really effective here?*/
		transform: translateX(100%);
		transition: transform 350ms ease-out;
		background: hsl(0 0% 100% / 0.5);
	  }

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	  .navlinks {
	    -webkit-backdrop-filter: blur(5rem);
	    backdrop-filter: blur(8rem);
	    background: hsl(0 0% 100% / 0.1);  
	  }
}
	  .navlinks[data-visible="true"]{
		transform: translateX(0%);

	  }
	  .mobile-nav-toggle{
	  	display: block;
	  	position: absolute;
	  	z-index: 9999;
	  	background-color: transparent;
	  	background-image: url("imgs/menu.svg");
	  	background-repeat: no-repeat;
	  	border: 0;
	  	width: 3.6875rem;
	  	aspect-ratio: 1;
	  	top:1.5rem;
	  	right: 1rem;
	  }

      .mobile-nav-toggle[aria-expanded="true"]{
		/*transition: transform 350ms ease-in-out;*/
	  	top:1rem;
	  	background-image: url("imgs/close.svg");
	  }


	#logo{
		margin-left: .3125rem;
	}

	.heroContainer{
		width: 90%;
		gap:var(--gap, .3125rem);
	}

	/*.heroStatements .heroHeader{
		font-size: 3rem;
	}*/

	#heroPicture{
		height: 21.875rem;
		width: 18.75rem;
	}


	#threeHeroColumns{
		width: 90%;
	}

	.threeHeroColumnsHead{
		width: 90%;
		font-size: 1.125rem;
	}


	
	/*-----------------------promises-----------------------------*/
	
		/*.promiseWrapperContainer{
			width: 90%;
			background: #fff;
			margin: .625rem 0;
		}
*/
		.promiseWrapper{
			border-radius: 0.625rem;
			border: 0rem solid #0E4949;
			width: 80%;
		}
		.promiseWrapperParagraph p{
			width: 80%;
		}
		.promiseWrapper h2{
			margin-top: 0;
		}
		.promises{
			height: 32.5rem;
			background: #E5E5E5;
			border: .25rem solid #0E4949;
			border-radius: 0.625rem;
			flex-wrap: nowrap;
			justify-content: center;

		}
		.promise{
			font-size: 1.125rem;
			line-height: 1.3125rem;
			/*width: 20.5rem;*/
			/*text-align: justify;*/
			width: 80%;
		}

		.promise:first-of-type{
			background: green;
			margin-top: 2rem;

		}
		.promise:last-of-type{
			background: red;
			margin-bottom: 2rem;
		}

		/*.services{
			background: mintcream;
		}*/
		.service{

    		gap:var(--gap, 1.25rem);


		}
	/*---------------------------------------our work----------------------------------*/
	/*.ourWorkImgs{
		width: 90%;
		flex-wrap: wrap;
		margin: 2rem auto;
		gap:var(--gap, 1rem);
		justify-content: center;
	}*/
	/*.workImgs{
		width: 16.9375rem;
	}*/

	/*---------------------------TRUSTED---------------------------------*/
	#trusted{
		background: #B5F1F6;
	}

	.trustedContainer{
		width: 90%;

	}

	/*-----------------------TESTIMONIALS--------------------------------------*/
	.testimonialsContainer{
		flex-direction: column;
	}

	.testimony{
		width: 31.25rem;
		height: 15.625rem;
	}

	.heroStatements .heroHeader{
		/*font-size: 3rem;*/
		margin-bottom: .625rem;
	}

	
}
/*-----------------------700-----------------------------------*/
@media only screen and (max-width:700px){

	.heroContainer .heroStatements{
		width: 100%;
		position: relative;
		margin-left: 0rem;
	 }

	.heroStatements .heroHeader{
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	.heroStatements .heroStatement{
		width: 80%;
		font-size: 1rem;
		line-height: 1.3125rem;
		/*margin-bottom: 2rem;*/
	}

	#heroPicture{
		display: none;
	}
	/*.services{
			background: mediumaquamarine;
	}*/
	.service{
		    width: 180px;
		    height: 180px;

	}
	.serviceCaption{
		width: 70%;
		/*color: #043535;*/
		/*text-align: center;*/
		/*font-family: Roboto, san-serif;*/
		font-size: 1.125rem;
		line-height: 1.375rem;
	}

	
}

/*--------------------max width 600px---------------------------*/
@media only screen and (max-width:600px){
	.heroContainer{
		width: 80%;
	}

	#header{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	#logo{
		margin-top: 2rem;
	}

	#threeHeroColumns{
		/*background: #fff;*/
		width: 100%;
		padding-top: .625rem;
		flex-direction: column;
		align-items: center;
		/*justify-content: space-between;*/
		gap:var(--gap, 1rem);
	}

	#threeHeroColumns .residential, .cabinet, .interior{
		width: 80%;
		height: 15.625rem;
		/*delete below bit*/
		/*background: #0E4949;*/
		border-radius: 0.625rem;
		gap:var(--gap, 0rem);
	}
	.threeHeroColumnsHead{
		font-size: 1.3125rem;
		line-height: 1.6875rem;
		width: 70%;
	}

	.threeHeroColumnsBody{
		width:80%;
	}

	/*-------------------|||promise|||-------------------------------*/

	.promise{
		width: 100%;
	}

	.services{
			/*background: skyblue;*/
			grid-template-columns: auto auto;

	}

	.service{
		    width: 170px;
		    height: 170px;
	}
	.serviceImg{
		/*color: #043535; */
		width: 80%;
		height: 70%;
	}
	.serviceCaption{
		width: 70%;
		/*color: #043535;*/
		/*text-align: center;*/
		/*font-family: Roboto, san-serif;*/
		font-size: 1.125rem;
		line-height: 1.375rem;
	}
	/*------------------------Our work-----------------------------------------*/
	.ourWorkStatement{
		/*margin: 1.875rem auto;*/
		width: 80%;
		font-size: 1rem;
	}

	.workImgs{
		width: 80%;
		/*width: 20.9375rem;*/
	}

	#trusted{
		background: #FCF2ED;
	}

	.trustedSubTitle,{
		width:90%;
	}

	.trustedStatement{
		width: 90%;
		text-align: center;
	}
	.trustedContainer{
		height: 48.625rem;
		margin: 3rem auto;

	}

/*-----------------------------------------------------*/
	.testimonialsContainer{
		width: 90%;
		/*margin: 5rem auto;*/

	}

	.testimony{
		width: 100%;
	}
	
	#footer{
		margin-top: 3rem;
		/*border-top: 0.125rem solid rgba(180, 177, 177,.7);*/
		height: 4rem;
		/*width: 100%;*/
		/*align-items: center;*/
		/*justify-content: center;*/
	}

	#footer span{
		/*font-family:  Roboto, san-serif;*/
		font-size: .75rem;
		/*line-height: 1.6875rem;*/
		/*color: rgb(133, 122, 122);*/
	}

}

@media only screen and (max-width:480px){
	.navContainer{
		height: 5rem;
		/*background: rebeccapurple;*/
	}

	#logo{
		margin: 1rem;
		/*height: 2.125rem;*/
		height: 2.5rem;
		/*width: 4.125rem;*/
		width: 4.6875rem;
		/*background-image: url("imgs/logun3.svg");*/
		background-image: url("imgs/logun4.svg");

	}
	#header{
		/*padding-bottom: 1.5rem;*/
	}
	.heroContainer{
		padding-top: 0rem;

	}

	.heroStatements .heroHeader{
		font-size: 2rem;
	}
	
	.heroStatements button{
		width: 9rem;
	}

	.threeHeroColumnsHead{
		font-size: 1.25rem;
		line-height: 1.3125rem;
		/*width: 70%;*/
	}

	.services{
		/*background: papayawhip;*/
		grid-template-columns: auto auto;

	}
	.service{
		    width: 170px;
		    /*height: 170px;*/
    		gap:var(--gap, 1rem);
	}
	.serviceImg{
		/*color: #043535; */
		width: 80%;
		height: 70%;
	}
	.serviceCaption{
		font-size: 1rem;
		line-height: 1.25rem;
	}
	.promise{
		font-size: 1rem;
		line-height: 1.125rem;
		width: 100%;
	}

	/*.workImgs{
		width: 20.9375rem;
	}*/

}

@media only screen and (max-width:350px){

	.heroStatements button{
		width: 7.75rem;
		margin-right: 1rem;
	}

	/*.callNowPhone{
		font-size: 1rem;
		line-height: 1.125rem;
	}*/

	/*.services{
			background: royalblue;

	}*/
	.service{
		    width: 150px;
		    /*height: 170px;*/
    		gap:var(--gap, .625rem);
	}
}
